& .application-starter {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #444444;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  z-index: 999999999999;

  &.ng-leave {
    opacity: 1.0;
    transition: all linear 3s;
    -webkit-transition: all linear 3s;
    background: red;
    &.ng-leave-active {
      opacity: 0;
      background: blue;
    }
  }
  & > .starter-container {

    & > span {
      font-size: 45px;
      position: absolute;
      top: 50%;
      margin-top: -35px;
      text-align: center;
      width: 100%;
      left: 0;
    }
  }
}

& .view {
  &.ng-enter {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    margin-top: 15px;
    opacity: 0.0;
    &.ng-enter-active {
      margin-top: 0;
      opacity: 1.0;
    }
  }

  /*&.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    &.ng-leave-active {
      background-color: green;
    }
  }*/
}